<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>LED ON/OFF</h1>
  <button onclick="led_op(1)">LED ON</button>
  <button onclick="led_op(2)">LED OFF</button>
  <div id="result"></div>
  <script>    
    function led(op) {
      let url = (op == 1) ? "/led/on" : "/led/off";
      fetch(url)
      .then(response=>response.text())
      .then(data=> {
        let result = document.querySelector("#result");
        result.innerHTML = "<h1>" + data + "</h1>";
      });
    }
  </script>
</body>
</html>