<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello, Ailen</title>
</head>
<body>

    <h1>Your First Camera SNS, Upm3ra!</h1>
    <h2>Just log in and enjoy the service!</h2>
    <p>So, do you wonder how to use this SNS?</p>
    <ul>
        <li>Just Take Picture!</li>
        <li>And Upload!</li>
    </ul>
    <p>How Simple! Just start now!</p>
    <button onclick="location.href='/signup'">Sign up Here!</button>
    <button onclick="location.href='/signin'">Sign in Here!</button>
</body>
</html>